.main {
    letter-spacing: 1px;
}

.main article {
    background-color: darkolivegreen;
}

.main article span {
    background-color: black;
    color: white;
}

.main article,
.main span {
    padding: 10px;
    border-radius: 7px;
}

.main article {
    margin: 20px;
}
.code{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    background-color: #f6f8fa;
}
.code>div>div{
    margin: 0 25px;
}
.code .prop{
    color: rgb(54, 172, 170);
}
.code .sel{
    color: rgb(0, 0, 159);
}
.code .val{
    color: rgb(57, 58, 52);
}
.code span{
    padding: 0;
}
.code select{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}